:root {
    --header-length: 55px;
    --sidebar-length: 215px;
    --font-size: 16px;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-size: 14px;
    background: #F4F5F9 !important;
    color: #45474B !important;
}

body {
    overflow-y: scroll;
}

#container {
    padding: 0 0 0 var(--sidebar-length);
    position: relative;
}

#container #header {
    position: sticky;
    top: 0;
    left: var(--sidebar-length);
    height: var(--header-length);
    z-index: 1100;
    background: #F4F5F9 !important;

}

#container #content {
    min-height: calc(100vh - var(--header-length));

}

#container #content>* {
    width: 100%;
    min-height: 100%;
}

#container #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-length);
    height: 100vh;
}


.chakra-alert {
    font-size: 16px;
}




.chakra-table td {
    padding: 1em;
}

.chakra-table th {
    white-space: wrap;
}

.chakra-table__container.fixTableHead {
    overflow-y: auto;
}

.chakra-table__container.fixTableHead thead th {
    font-size: var(--chakra-fontSizes-sm);
    box-shadow: var(--chakra-shadows-xs);
    position: sticky;
    background: var(--chakra-colors-gray-100);
    z-index: 1;
    top: 0;
}

.my-form input,
.my-form textarea {
    background: white;

}



.date-picker {
    width: 100%;
    
}

.date-picker * {
    font-size: 14px;
    font-weight: 500;
}

.date-picker .rdrDateDisplay .rdrDateInput {
    border-width: 1px;
}

.date-picker .rdrDateDisplay .rdrDateInput input {
    color: #45474B
}

.date-picker .rdrMonth {
    width: 100%;
}



.chakra-checkbox__control {
    background-color: white;
}

.color-white {
    fill: white !important;
}



.event-item {
    border: 0px;
    border-radius: 6px;
    overflow: hidden;
    margin: 3px;
}

.fc-col-header {
    background-color: var(--chakra-colors-gray-100);
}

.fc-scroller::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.fc-scroller::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--chakra-colors-gray-100);
}

.fc-scroller::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--chakra-colors-gray-300);
    border-radius: 100px;
}

.fc-scroller::-webkit-scrollbar-thumb:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--chakra-colors-gray-400);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--chakra-colors-gray-500);
}

.myStepper>* {
    width: 100%;
    /* border: 1px solid salmon; */
}

.myStepper .myStepper-item {
    flex-grow: 1;
}

.myStepper .myStepper-item > * {
    width: 100%;
}

.myStepper .myStepper-item > button[type="submit"] {
    width: fit-content;
}